<body>
    <header>
        <%- include('../views/partials/header.ejs'); %>
   
                       
    </header>

    <head>  <%- include('../views/partials/head.ejs'); %></head>
         <!-- Page Content -->
    <div class="table-container">
          <div class="row justify-content-md-center">
        <div class="col-md-15"> 
         
          <h1 class="display-5 ">Client's messages</h1>
           <p>All messages received can be found in the table below.
                Once the client is contacted, please delete the message.
           </p>
             </div>
        </div>
        </div>
      <body>
       <%- include('../views/partials/body.ejs'); %>
    </body>
    <div class="card bg-info">
    <footer class="card-footer ">
        <%- include('../views/partials/footer.ejs'); %>
    </footer></div>
    <!-- Bootstrap core JavaScript -->
     
   